body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
    color: white;
}
h1 {
    text-align: center;

}
nav ul {
    margin: 0;
    padding: 0;
    background: #0f90e6;
    display: flex;
    list-style: none;
    /* justify-content: center; */
    justify-content: space-evenly
}
nav li {
    direction: ltr;
    padding: 10px 20px;
}
nav li:hover {
    background: #23a7ff;
    cursor: pointer;
}
nav a {
    text-decoration: none;
    color: white;
}

#container {
    margin: 75px auto;
    max-width: 500px;
}
.square {
    width: 30%;
    background: white;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}

.squareX {
    width: 30%;
    background: #df3535;
    padding-bottom: 0%;
    float: left;
    margin: 1.66%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}
.squareO {
    width: 30%;
    background: #39da6f;
    padding-bottom: 0%;
    float: left;
    margin: 1.66%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}

div i {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 150px;
}
div .fa-circle {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 120px;
    padding: 15px 0;
}